@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<div class="row">
    <a href="@Url.Action("Create", "Productos")" class="btn btn-success btn-serv"><i class="fa-solid fa-plus" style="margin-right:5px;"></i>Nuevo Producto</a>
    <a href="#" class="btn btn-secondary btn-serv"><i class="fa-solid fa-plus" style="margin-right:5px;"></i>Reportes</a>
    <a href="#" class="btn btn-light btn-serv" style="color:black"><i class="fa-solid fa-filter" style="margin-right:5px; color:deepskyblue"></i>Filtrar</a>

</div>
<div class="container">
    <h2>Productos</h2>
    <table class="table table-bordered" 
        <thead>
            <tr>
                <th>Opciones</th>
                <th>Código</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Categoría</th>
                <th>Precio de Venta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                    <tr>
                        <td>
                            <div class="form-group row justify-content-center">
                                <div class="col-sm-2">
                                    <a href="@Url.Action("Delete", "Productos", new { id = producto.Id })" class="btn btn-danger"><i class="fa-solid fa-trash" style="margin-right:5px; margin-left:10px;"></i></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="@Url.Action("Edit", "Productos", new { id = producto.Id })" class="btn btn-primary"><i class="fa-solid fa-pen-to-square" style="margin-right:5px; margin-left:10px;"></i></a>
                                </div>
                            </div>
                        </td>
                        <td>@producto.Codigo</td>
                        <td>@producto.Nombre</td>
                        <td>@producto.Cantidad</td>
                        <td>@producto.Categoria</td>
                        <td>@producto.PrecioCosto</td>
                        <td>@producto.PrecioVenta</td>
                    </tr>
            }
        </tbody>
    </table>
</div>